html {
    height: 100%;
    margin: 0;
}

footer {
    width: 97%;
    height: 50px;
    position: sticky;
    padding-bottom: 2%;
    left: 0px; 
    right: 15; 
}

.cardHv:hover {
    transform: scale(1.05);
}

.allCard {
    border-radius: 9px;
    width: 18rem;
    box-shadow: -1px 4px 15px -3px rgba(0,0,0,0.75);
}

#icon {
    margin-right: 10px;
    color: rgb(46, 46, 46);
}

#clock {
    display: flex;
    align-items: flex-end;
    color: rgb(46, 46, 46);
}